@import "tailwindcss";

@theme {
  /* Background colors */
  --color-primary-bg: #060c1b;
  --color-secondary-bg: #1274f3;

  /* Text colors */
  --color-primary: #ffffff;
  --color-secondary: #4bffb2;
  --color-tertiary: #7a85a4;
  --color-accent: #060c1b;

  /* Fonts */
  --font-outfit: 'Outfit', sans-serif;
}

@utility linear-gradient-blue {
  background: linear-gradient(to top, #232e4d, #232c46, #1f2943, #141a31);
  opacity: 0.9;
}
